/* header CSS */
@font-face {
    font-family: 'Trade_Gothic';
    src: url(../font/TradeGothicLTBoldCondensedNo.20.ttf) format('truetype');
}

/* @media (max-width: 1616px) {
    .productinfo_view_container_picture {
        min-width: 924px;
        clear: left;
        margin-bottom: 30px;
    }

    .productinfo_view_container_picture1 {
        text-align: center;
        width: 100%;
    }
    
    .productinfo_view_container_picture_img img{
        max-width: 373.44px;
        max-height: 373.44px;
        min-width: 373.44px;
        min-height: 373.44px;
    }

    .productinfo_view_container_picture_subimg {
        max-width: 924px;
    }
    .product_viewinfo_container_info {
        padding: 0 0 0 54px;
        min-width: 924px;
    }
    .product_cate {
        width: 400px;
        float: left;
        text-align: right;
    }
    .product_price {
        width: 225px;
        float: left;
        text-align: right;
    }
    .product_title {
        text-align: center;
        padding-right: 65px;
    }
    .product_size {
        clear: left;
        min-width: 924px;
        padding: 0 0 0 54px;
        text-align: center;
        
    }
    .size_title {
        min-width: 780px;
        padding-right: 197px;
    }
    .size_button {
        clear: left;
        padding: 0 230px 0 240px;
    }
    .size_button button {
        max-width: 50px;
    }

    .count-container {
        width: 924px;
        margin: 8px 0 8px 295px;
    }

    .product_count {
        min-width: 380px;
    }
    .order-warp {
        clear: left;
        min-width: 400px;
        margin-left: 293px;
        margin-bottom: 80px;
    }
} */


.product_info_menu {
    float: left;
    width: 10%;
    padding: 15px 0 0 15px;
    font-size: 15px;
    font-weight: 500;
}

.menu-total {
    padding: 0 0 10px 15px;
    cursor: pointer;
}

.menu-total:hover {
    color: #adadad;
}


.menu-sub {
    padding: 0 0 10px 35px;
    cursor: pointer;
}

.menu-sub:hover {
    color: #adadad;
}

.productinfo_view {
    float: left;
    padding: 15px 0 15px 60px;
    width: 90%;
}

.productinfo_view_container {
    padding-right: 400px;
    padding-top: 40px; 
}
.productinfo_view_container_picture {
    width: 60%;
    float: left;
    padding: 0 0 0 54px;
    
}

.product_viewinfo_container_info {
    width: 40%;
    float: left;
    margin-bottom: 10px; 
}

/* .product_viewinfo_container_info {
    display: flex;
    width: 40%;
    float: left;
    margin-bottom: 10px; 
} */

.product_cate {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #383838ea;
}

.product_price {
    font-size: 20px;
    font-weight: 600;
    color: #383838ea;
}
/* .product_cate {
    flex: 2;
    font-size: 20px;
    font-weight: 600;
    color: #383838ea;
}

.product_price {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    color: #383838ea;
} */

.product_title {
    font-size: 25px;
    font-weight: bold;
}


.productinfo_view_container_picture1 {
    text-align: center;
    width: 100%;
}

.productinfo_view_container_picture_img img{
    width: 70%;
    height: 70%;
}

/* .productinfo_view_container_picture_img img{
    width: 70%;
    max-height: 490px;
} */

.size_title {
    width: 40%;
    margin: 20px 2px;
    font-size: 18px;
    font-weight: bold;
}

.product_size {
    float: left;
    width: 40%;
}
.product_size_insert{
	float: left;
}
/* 
.product_size button {
    float: left;
    width: 80px;
    height: 50px;
    margin: 3px;    
} */

.size_button {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.size_button button {
    background-color: white;
    border: 1px solid #adadad;
    float: left;
    width: 18%;
    height: 50px;
    margin: 3px;    
}

.size_button button:focus {
    outline: none;
}

.product_count {
    float: left;
    width: 38%;
    height: 40px;
    margin: 8px 0 8px 3px;
    border-bottom: 1px solid;
}

.product_count_text {
    border:none;
    background-color: white;
    width: 40px;
    height: 28px;
    text-align: center;
}

.product_count span{
    font-size: 17px;
    font-weight: bold;
    margin-right: 15px;
}

.product_count button{
    background-color: #ffffff;
    padding-bottom: 6px;
}

.product_count button:focus{
    outline: none;
}

.order-warp {
    float: left;
    width: 40%;
}

.order-buy {
    float: left;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 97%;
    height: 60px;
    margin: 15px auto;
    padding: 20px 50px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.order-buy:hover {
    opacity: 0.7;
    text-decoration:none;
    color: white;
}

.order-cart {
    float: left;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    width: 97%;
    height: 60px;
    padding: 20px 50px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    
}

.order-cart:hover {
    border: 1px solid #6b6b6b;
    text-decoration:none; 
    color: black;   
}

/*      */
